* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: aliceblue;
}

h1 {
    background-color: blue;
    color: white;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 30px;
}

a:link, a:visited {
    background-color: bisque;
    padding: 10px;
}

a:hover {
    animation-delay: 500ms;
    animation-direction: normal;
    animation-duration: 1000ms;
    animation-name: highlight;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.square {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 200px;
    left: 0px;
}

/* .square:hover {
    top: 200px;
    left: 300px;
} */

/* animation */
@keyframes highlight {
    25% {
        background-color: #2563EB;
        color: #D3D3D3;
        border-radius: 2px;
        box-shadow: 1px 1px 1px gray;
    }

    50% {
        background-color: #38BDF8;
        color: #C0C0C0;
        border-radius: 4px;
        box-shadow: 2px 2px 2px gray;
    }

    75% {
        background-color: #2DD4BF;
        color: #808080;
        border-radius: 7px;
        box-shadow: 4px 4px 4px gray;
    }

    100% {
        background-color: yellow;
        color: black;
        border-radius: 10px;
        box-shadow: 5px 5px 5px gray;
    }
}